<?xml version="1.0"?>
<ruleset name="Origination WordPress Plugin">
	<description>Ruleset for WordPress plugin.</description>

	<file>./origination.php</file>
	<file>./includes</file>
	<file>./tests</file>

	<exclude-pattern type="relative">^/vendor/*</exclude-pattern>

	<arg value="s"/>
	<arg name="extensions" value="php"/>

	<!-- Strip the filepaths down to the relevant bit. -->
	<arg name="basepath" value="./"/>

	<!-- Check up to 20 files simultaneously. -->
	<arg name="parallel" value="20"/>

	<rule ref="WordPress">
		<exclude name="WordPress.Files.FileName"/>
	</rule>

	<rule ref="WordPress.NamingConventions.ValidVariableName">
		<properties>
			<property name="customPropertiesWhitelist" type="array">
				<element value="childNodes"/>
				<element value="tagName"/>
				<element value="textContent"/>
				<element value="parentNode"/>
				<element value="nodeType"/>
				<element value="nodeName"/>
				<element value="nextSibling"/>
				<element value="previousSibling"/>
				<element value="firstChild"/>
				<element value="lastChild"/>
				<element value="nodeValue"/>
				<element value="documentElement"/>
				<element value="removeChild"/>
				<element value="ownerDocument"/>
			</property>
		</properties>
	</rule>

    <rule ref="PHPCompatibility">
		<include-pattern>*\.php$</include-pattern>
	</rule>
	<rule ref="Generic.Commenting.DocComment">
		<include-pattern>tests/tests/phpunit/data/plugins/*</include-pattern>
	</rule>
	<rule ref="Squiz.Commenting.FunctionComment">
		<include-pattern>tests/tests/phpunit/data/plugins/*</include-pattern>
	</rule>
	<config name="testVersion" value="5.6-"/>

	<!-- Selected WordPress Coding Standards tweaks -->
	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="string" value="origination"/>
		</properties>
	</rule>
</ruleset>
